.cover {
    position: fixed;
    left: 0; top: 0; right: 0; bottom: 0;
    -moz-animation-delay: 2.0s;
    -webkit-animation-delay: 2.0s;
    -o-animation-delay: 2.0s;
    -ms-animation-delay: 2.0s;
    -moz-animation-duration: 1.0s;
    -webkit-animation-duration: 1.0s;
    -o-animation-duration: 1.0s;
    -ms-animation-duration: 1.0s;
}
.logo {
    margin: 8px 8px 0;
    font-weight: 100;
    font-size: 400%;
    line-height: 200%;
}
.logo div {
    padding: 4px;
}
.logo .g {
    -moz-animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
    font-weight: 400;
}
.logo .m {
    -moz-animation-delay: 1.0s;
    -webkit-animation-delay: 1.0s;
    -o-animation-delay: 1.0s;
    -ms-animation-delay: 1.0s;
}
.logo .l {
    -moz-animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
    -ms-animation-delay: 0.1s;
}
.logo .a {
    -moz-animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
    -ms-animation-delay: 0.1s;
}
.logo .b {
    -moz-animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
}
.logo .s {
    -moz-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
}
.motto {
    font-size: 100%;
    margin-top: -32px;
    margin-left: 8px;
    -moz-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    -moz-animation-duration: 1.25s;
    -webkit-animation-duration: 1.25s;
    -o-animation-duration: 1.25s;
    -ms-animation-duration: 1.25s;
}
