<!-- FAB menu overlay TODO: make a ZUIX component out of this -->
<div data-ui-field="menu_overlay" layout="column bottom-right" class="menu-overlay">
    <div class="menu-item" layout="row center-right" data-ui-transition-delay="0.4s">
        <a title="G-Labs on GitHub" href="https://github.com/genielabs">
            <span>github</span>
            <span class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--primary">
                <i class="material-icons">domain</i>
            </span>
        </a>
    </div>
    <div class="menu-item" layout="row center-right" data-ui-transition-delay="0.3s">
        <a title="HomeGenie videos on YouTube" href="https://www.youtube.com/geniebby">
            <span>youtube</span>
            <span class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--primary">
                <i class="material-icons">video_library</i>
            </span>
        </a>
    </div>
    <div class="menu-item" layout="row center-right" data-ui-transition-delay="0.2s">
        <a title="Contact the author" onclick="contact()">
            <span>feedback</span>
            <span class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--primary">
                <i class="material-icons">mail_outline</i>
            </span>
        </a>
    </div>
</div>

<!-- Colored FAB menu button -->
<button data-ui-field="menu_button" class="menu-button mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--accent mdl-shadow--6dp">
    <i class="material-icons">add</i>
</button>
<button data-ui-field="menu_button_close" class="menu-button mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--accent mdl-shadow--6dp">
    <i class="material-icons">close</i>
</button>
