. {
    padding-top: 56px;
}

article {
    margin-top: 56px;
    margin-bottom: 56px;
    padding-left: 32px;
    padding-right: 32px;
    min-height: 50vh;
}

@media only screen and (max-width: 640px) {
    article {
        padding-left: 8px;
        padding-right: 8px;
    }
}