label {
    text-transform: uppercase;
    font-size: 75%;
    font-weight: 500;
    display: block;
}
h3 {
    font-size: 200%;
    text-align: center;
    margin: 0 0 24px;
}
p {
    margin: 0 0 16px;
    font-size:120%;
    line-height: 180%;
    font-weight: 100;
}
ul {
}
li:not:first-child {
    margin: 0;
}
a {
    margin:0;
}
.description {
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 24px;
}
.description p {
    font-size: 100%;
    font-weight: 100;
}
.description ul {
    font-size: 100%;
}
.gallery {
    padding: 24px;
    text-align: right;
}
.media-container {
    padding: 8px;
    height: auto;
    margin-top: 24px;
    margin-bottom: 16px;
}
.info {
    margin-bottom: 72px;
}
.link {
    margin-top: 24px;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info ul {
    display:inline;
    margin: 0 0 0 6px;
    padding: 0;
    font-size: 100%;
    font-weight: 100;
}
.info ul li {
    display:inline;
    margin-left:6px;
    text-transform: lowercase;
}
