<code>-~=({{ app.title }})=~-</code>
{% assign section = collections.section | sort: 'data.order' %}
{%- for item in section %}
    <a href="{{ item.url | url }}">{{ item.data.title }}</a> |
{% endfor -%}
