<code>-~=({{ app.title }})=~-</code>
{% assign sections = collections.sections | sort: 'data.order' %}
{%- for item in sections %}
    <a href="{{ item.url | url }}">{{ item.data.title }}</a> |
{% endfor -%}
