<div -self="size-large center" layout="row center-stretch" style="opacity: 0.7">
    <div style="height: 8px; background: #000000"></div>
    <div style="height: 8px; background: #ffffff"></div>
    <div style="height: 8px; background: #a8734a"></div>
    <div style="height: 8px; background: #e9b287"></div>
    <div style="height: 8px; background: #772D26"></div>
    <div style="height: 8px; background: #b66862"></div>
    <div style="height: 8px; background: #85d4dc"></div>
    <div style="height: 8px; background: #cfffff"></div>
    <div style="height: 8px; background: #a85fb4"></div>
    <div style="height: 8px; background: #e99df5"></div>
    <div style="height: 8px; background: #559e4a"></div>
    <div style="height: 8px; background: #92df87"></div>
    <div style="height: 8px; background: #42348b"></div>
    <div style="height: 8px; background: #7e70ca"></div>
    <div style="height: 8px; background: #bdcc71"></div>
    <div style="height: 8px; background: #ffffb0"></div>
</div>
