{% include "_inc/head_open.html" %}
<!-- put custom content that goes inside `<head>` here -->
{% include "_inc/head_close.html" %}
<body class="-mdl-color--blue-50 mdl-color-text--grey-800"
      data-ui-load="@lib/controllers/scroll_helper"
      data-ui-context="scroll-helper">

<header class="mdl-color--black mdl-shadow--8dp" layout="columns top-center">
    <div self="size-xxlarge center" class="header" layout="row center-left">
        <!-- Logo -->
        <a data-ui-field="header_logo" class="header-logo mdl-color-text--green-200" href="https://github.com/genielabs" target="_parent">
            <strong>g</strong><span class="mdl-color-text--yellow-200">-</span><span>labs</span>
            <small class="mdl-color-text--light-green-A200">the open source factory</small>
        </a>
        <!-- Rolling headings title field -->
        <h3 data-ui-field="header_title" class="header-title mdl-color-text--white"></h3>
        <!-- GitHub corner -->
        <a href="https://github.com/genielabs" data-ui-field="github" class="github-logo" self="right">
            <img src="{{root}}images/github_logo.png">
        </a>
    </div>
</header>
<div data-ui-field="main" id="main">

    <div self="stretch center" layout="columns top-center">

        <!-- Products -->
        <section data-ui-include="content/products"
                 data-ui-mode="inner"
                 self="size-xxlarge" layout="columns spread-stretch" class="products"></section>

        <!-- More repositories -->
        <a id="more_repos"></a>
        <section data-ui-include="content/more_repos"
                 data-ui-options="content_no_css"
                 data-ui-mode="inner"
             self="size-xxlarge" layout="rows stretch-spread" class="more-repos"></section>

        <!-- Footer with 'About' note -->
        <a id="about"></a>
        <footer data-ui-include="content/footer"
                layout="column top-center"
                class="watch-footer mdl-color--blue-grey-800 mdl-color-text--grey-500">
        </footer>

        <!-- Copyright notice -->
        <div self="stretch" class="footer_bar content-padding mdl-color--black mdl-color-text--grey-700">
            <div self="size-xxlarge center" layout="rows center-center">
                <div self="center-left"><a href="#!zuix" onclick="scrollToAnchor('zuix')" class="mdl-color-text--grey-400 mdl-typography--font-bold">zUIx</a> powered website</div>
                <div self="size-x1 sm-full" align="right">&copy; 2016-to-infinity-and-beyond by <span class="mdl-color-text--grey-400 mdl-typography--font-bold">g-labs</span></div>
            </div>
        </div>

    </div>

</div>

<!-- FAB menu button overlay -->
<div data-ui-include="content/menu_button" data-ui-mode="unwrap"></div>

<!-- Splash Screen -->
<div data-ui-include="content/cover"
     data-ui-options="cover_load_options"
     data-ui-field="splash-cover"
     class="splash-cover"></div>

<!-- Main Page includes -->
<link rel="stylesheet" href="index.css">
<script defer type="text/javascript" src="index.js"></script>

{% include "_inc/body_end.html" %}
</body>
{% include "_inc/html_close.html" %}
