.menu-item a {
    font-size: 90%;
    font-weight: 600;
    line-height: 120%;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
}
.menu-item span {
    margin-left: 12px;
}

div.menu-item:last-of-type {
    margin-bottom: 16px;
}
